<li class="mt">
  <a class="active" href="/dashboardm">
    <i class="fa fa-dashboard"></i>
    <span>Dashboard</span>
    </a>
</li>
<!-- <li class="sub-menu">
  <a href="javascript:;">
    <i class="fa fa-desktop"></i>
    <span>Find</span>
    </a>
  <ul class="sub">
    <li><a href="/findmentors">Mentors</a></li>
    <li><a href="/findcourses">Courses</a></li>
    </ul>
</li> -->
<li>
  <a href="/goalsposted">
    <i class="fa fa-envelope"></i>
    <span>Goals Posted </span>
    </a>
</li>
<li>
  <a href="/coursesposted">
    <i class="fa fa-envelope"></i>
    <span>Courses Posted </span>
    </a>
</li>
<li>
  <a href="/quizzesposted">
    <i class="fa fa-envelope"></i>
    <span>Quizzes Posted </span>
    </a>
</li>
<li>
  <a href="/mymentees">
    <i class="fa fa-envelope"></i>
    <span>My Mentees  </span>
    </a>
</li>
<li>
  <a href="/events">
    <i class="fa fa-envelope"></i>
    <span>Events </span>
    </a>
</li>

</ul>
<!-- sidebar menu end-->
</div>
</aside>
