<li class="mt">
  <a class="active" href="/dashboard">
    <i class="fa fa-dashboard"></i>
    <span>Dashboard</span>
    </a>
</li>
<li class="sub-menu">
  <a href="javascript:;">
    <i class="fa fa-desktop"></i>
    <span>Find</span>
    </a>
  <ul class="sub">
    <li><a href="/findmentors">Mentors</a></li>
    <li><a href="/findcourses">Courses</a></li>
    </ul>
</li>
<li>
  <a href="/mygoals">
    <i class="fa fa-envelope"></i>
    <span>Goals </span>
    </a>
</li>
<li>
  <a href="/mycourses">
    <i class="fa fa-envelope"></i>
    <span>My Courses </span>
    </a>
</li>
<li>
  <a href="/myquizzes">
    <i class="fa fa-envelope"></i>
    <span>Quizzes </span>
    </a>
</li>
<li>
  <a href="/mymentors">
    <i class="fa fa-envelope"></i>
    <span>My Mentors  </span>
    </a>
</li>
<li>
  <a href="/events">
    <i class="fa fa-envelope"></i>
    <span>Events </span>
    </a>
</li>

</ul>
<!-- sidebar menu end-->
</div>
</aside>
